<div *ngIf="!isListEmpty() ;then listBlock, else noListBlock"></div>

<ng-template #listBlock>
  <div class="row">
    <div class="col-md-4" *ngFor="let book of bookList.data">
      <div class="card">
        <div class="card-img-top book-image-div">
          <strong>Book image</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.price | currency :'INR'}}</p>
          <div class="action-button">
            <a href="javascript:void(0)" class="btn btn-primary" [routerLink]="['/book/update', book.id]">Update</a>
            <a href="javascript:void(0)" class="btn btn-danger"
               (click)="open(deleteModal, book.title, book.id)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Book</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete <strong class="text-primary">{{deleteBookName}} </strong> book?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
              (click)="modal.close('Ok click')">Cancel
      </button>
      <button type="button" ngbAutofocus
              class="btn btn-danger"
              (click)="deleteBook(modal)">OK
      </button>
    </div>
  </ng-template>
</ng-template>

<ng-template #noListBlock>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-img-top book-image-div">
          <strong>Book image</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">No Books are available</h5>
        </div>
      </div>
    </div>
  </div>
</ng-template>
