
div .col-md-4 {
  margin-bottom: 54px;
}

.book-image-div {
  padding: 50px;
  text-align: center;
  background: #adadad;
  color: #f1ebeb;
  text-transform: uppercase;
}

.action-button {
  display: flex;
  justify-content: space-between;
}
