<div class="container add-component">
  <form #bookForm="ngForm" (ngSubmit)="submitHandler(bookForm)">

    <div class="form-group" *ngIf="addResponse && addResponse.status;then successBlock"></div>
    <ng-template #successBlock>
      <div class="alert alert-success">{{addResponse.data}}</div>
    </ng-template>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text"
             class="form-control"
             id="title"
             name="title"
             placeholder="Enter book title"
             required
             #title="ngModel"
             [class.is-invalid]="title.invalid && title.touched"
             [(ngModel)]="bookAddModel.title">

      <div *ngIf="title.errors && ( title.touched || title.invalid)">
        <small class="text-danger" [class.d-none]="title.valid || title.untouched" *ngIf="title.errors.required">
          {{titleRequired}}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number"
             class="form-control"
             id="price"
             name="price"
             placeholder="Enter book price"
             required
             pattern="^([0-9]{3})?$"
             #price="ngModel"
             [(ngModel)]="bookAddModel.price"
             [class.is-invalid]="price.invalid && price.touched">

      <div *ngIf="price.errors && ( price.invalid || price.touched)">
        <small class="text-danger" [class.d-none]="price.valid || price.untouched"
               *ngIf="price.errors.required">
          {{priceIsRequired}}
        </small>
        <small class="text-danger" [class.d-none]="price.valid || price.untouched"
               *ngIf="price.errors.pattern">
          {{pricePattern}}

        </small>
      </div>
    </div>
    <button type=" submit"
            [disabled]="bookForm.form.invalid"
            [class.btn-secondary]="bookForm.form.invalid"
            class="btn btn-primary">Submit
    </button>
  </form>
</div>
