<form [formGroup]="updateForm" (ngSubmit)="update()">
  <div class="form-group" *ngIf="updateResponse && !updateResponse.status">
    <div class="alert alert-danger">Sorry we are not able to update the book</div>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
           class="form-control"
           id="title"
           placeholder="Enter book title"
           required
           [value]="book?.data?.title"
           formControlName="title"
           [class.is-invalid]="getTitle().invalid && getTitle().dirty">

    <small class="text-danger" [class.d-none]="getTitle().valid || getTitle().pristine"
           *ngIf="getTitle().errors?.required">
      {{titleRequiredErrorMessage}}
    </small>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number"
           class="form-control"
           id="price"
           placeholder="Enter book price"
           required
           pattern="^([0-9]{3})?$"
           [value]="book?.data?.price"
           formControlName="price"
           [class.is-invalid]="getPrice().invalid && getPrice().dirty">

    <small class="text-danger" [class.d-none]="getPrice().valid || getPrice().pristine"
           *ngIf="getPrice().errors?.required">
      {{priceRequiredErrorMessage}}
    </small>
    <small class="text-danger" [class.d-none]="getPrice().valid || getPrice().pristine"
           *ngIf="getPrice().errors?.pattern">
      {{pricePatternErrorMessage}}
    </small>
  </div>

  <div class="form-group">
    <button type="submit"
            class="btn btn-primary"
            [disabled]="updateForm.invalid"
            [class.btn-secondary]="updateForm.invalid">Update
    </button>
  </div>
</form>
